.content {
    max-width: 1264px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
    margin-top: 128px;
    text-align: center;
}

.content h1 {
    font-size: 72px;
}

.content p {
    line-height: 1.5em;
    max-width: 750px;
    margin: 0 auto;
}