@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
body, html {
    margin: 0;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1264px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
    align-items: center;
}

.logo {
    width: 96px;
    margin-top: 16px;
}

.links a {
    margin-left: 32px;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.content {
    max-width: 1264px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
}

.header {
    text-align: left;
    margin-top: 128px;
}

.header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 72px;
    max-width: 750px;
    margin: 0px;
    margin-bottom: 32px;
}

.header p {
    line-height: 1.5em;
    font-size: 18px;
    max-width: 750px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.cta {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
}

.cta a {
    text-decoration: none;
}

.faq-link {
    background-color: #1a0a6d;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.assistance-link {
    background-color: #1a0a6d;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-link h1 {
    font-weight: 500;
    font-size: 16px;
}

.assistance-link h1 {
    font-weight: 500;
    font-size: 16px;
}

.relevant-links-container {
    margin-top: 128px;
    margin-bottom: 96px;
}

.relevant-links-container h1 {
    margin: 0px;
    margin-bottom: 32px;
}

.relevant-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.relevant-links h1 {
    font-size: 22px;
    margin: 0px;
    margin-bottom: 16px;
}

.relevant-links p {
    line-height: 1.5em;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.link {
    max-width: 550px;
    height: 125px;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-left: 4px solid black;
    margin-bottom: 32px;
}

.link a {
    text-decoration: none;
    color: black;
    margin-top: auto;
}

.read-more {
    font-weight: 700;
    text-decoration: underline;
    display: flex;
}

.arrow {
    width: 16px;
    margin-left: 8px;
    transition: all .5s ease;
}

.link a:hover .arrow {
    transform: translateX(8px);
}

.mayor-container {
    margin-bottom: 128px;
}

.mayor-container h1 {
    margin: 0px;
    margin-bottom: 32px;
}

.mayor {
    display: flex;
}

.profile-pic img {
    max-width: 500px;
    width: 100%;
}

.mayor-p p {
    line-height: 1.5em;
    margin: 0px;
    padding-left: 32px;
    max-width: 732px;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 992px) {
    .mayor {
        flex-direction: column;
    }
    .profile-pic img {
        margin-right: 0px;
        margin-bottom: 32px;
        max-width: 100%;
    }
    .mayor-p p {
        padding-left: 0px;
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .nav {
        padding-left: 16px;
        padding-right: 16px;
    }
    .links a {
        margin-left: 16px;
    }
    .logo {
        width: 64px;
    }
    .content {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header {
        margin-top: 64px;
    }
    .header h1 {
        font-size: 42px;
    }
    .faq-link {
        margin-bottom: 16px;
    }
    .relevant-links-container {
        margin-top: 64px;
        margin-bottom: 64px;
    }
    .relevant-links-container h1 {
        margin-bottom: 32px;
    }
}